Parameters:
  Name:
    Type: String
  Repository:
    Type: String
  RepositoryAccessToken:
    Type: String
    NoEcho: true

Resources:
  App:
    Type: AWS::Amplify::App
    Properties: 
      Name: !Ref Name
      OAuthToken: !Ref RepositoryAccessToken
      Repository: !Ref Repository

