Parameters:
  SecretName:
    Type: String
  Username:
    Type: String

Resources:
  Secret:
    Type: AWS::SecretsManager::Secret
    Properties:
      Name: !Ref SecretName
      GenerateSecretString:
        SecretStringTemplate: !Join ['', ['{"username": "', !Ref Username, '"}']]
        GenerateStringKey: "password"
        ExcludeCharacters: '"@/\'
        PasswordLength: 16
        
Outputs:
  Name:
    Value: !Ref SecretName
  Arn:
    Value: !Ref Secret